.conteiner_mangas ul{
display: flex;
display: grid;
grid-template-columns: repeat(3,1fr);
gap: 30px ;
flex-direction: row;
list-style-type: none;
width: 57vw;
height: 100vh;
padding: 10px;
border: 5px solid yellow;


}
.conteiner_mangas li{
    border: solid 1px black;

}

.side_bar{
    display: flex;
    display: grid;
    flex-direction: column;
    position: fixed;
    top: 0;
    left:90% ;
    margin-left:10px;
}
.side_bar ul{
    display: grid;
    grid-template-rows: repeat(1,1fr);
}